In [2]:
import pandas as pd

archivo = pd.read_csv("D:\Programacion\Curso de Python\Basic\Archivos TXT\datos.csv")
archivo

   Nombre  Edad        Ciudad
0    Juan    25      Medellín
1   María    30        Bogotá
2  Carlos    22          Cali
3     Ana    28  Barranquilla
4   Luisa    35     Cartagena